ALLOWED_EMAIL_DOMAIN=example.com

CLOUDFLARE_ACCESS_ID=
CLOUDFLARE_ACCESS_SECRET=
CLOUDFLARE_ACCOUNT_ID=

CLOUDFLARE_BUCKET_ID=
CLOUDFLARE_BUCKET_PUBLIC_URL=

EMAIL_USER_NAME=example.com
EMAIL_USER_TOKEN=

JWT_AUDIENCE=NombreAplicación
JWT_ISSUER=NombreAplicación
JWT_SECRET=

MONGO_DB_CONNECTION_URL=
MONGO_DB_DATABASE_NAME=db
